<div class="header" id="header">
        <img class="navbar-brand logo-image" src="assets/images/movies-icon.png">
        <a class="navbar-brand name" [routerLink]="['/']">The Movie App</a>
  
        <a class="navbar-brand tab" [routerLink]="['/']">Movies</a>
    <!-- <a href="#default" class="logo" [routerLink]="['']">
        <img class="logo-image" src="assets/images/movies-icon.png">
        <p class="logo-text">The Movies App</p>
    </a> -->
    
    <!-- <div class="header-right">
        <a [routerLink]="['']" class="spacific-a">Movies</a>   
    </div> -->

</div>